div.container-fluid
  h2 PM4 List
  hr
  div.row
    form#exp_bat_update.form-inline(enctype="multipart/form-data")
      fieldset
        <input id="exp_bat" type="file" name="exp_bat" multiple="multiple" class="form-control">
        button#exp_bat_btn.btn.btn-default.form-control(type="button" onClick="upload_bat()") Update
    br
    button#dump_btn.btn.btn-default(type="button" onClick="dumpOP_pm4()") GO For Dump
  br
  ul#pm4_hosts.nav.nav-tabs.secondmenu
    -var isactive = true
    each item, index in whole_pm4_list
      if isactive
        -isactive = false
        li.active
          a(href= "#" + index + '_pm4' data-toggle='tab') #{index}
      else
        li
          a(href= "#" + index + '_pm4' data-toggle='tab') #{index}
  div#pm4_each_item.tab-content
    -var isfade = true
    each item, index in whole_pm4_list
      if isfade
        -isfade = false
        div(id = index + '_pm4').tab-pane.fade.in.active
          table.table.table-hover
            tbody
              each pm4_item in item
                tr
                  td
                    div.row
                      div.col-md-8
                        -var sp_pm4 = (pm4_item.pm4_list.split(".pm4")[0]).replace(new RegExp("\\.+", "g"),"_")
                        <input id="#{index}_#{sp_pm4}" type="checkbox" name="#{index}" value="#{sp_pm4}" onChange="selectbox_change(this.id)"/> #{sp_pm4}
                      div.col-md-4(id="#{index}_#{sp_pm4}_batch" style="display:none")
                        label.checkbox-inline
                          <input type="radio" id="#{index}_#{sp_pm4}_slirpi_bat" name="#{index}_#{sp_pm4}_batch_select" value="slirpi_counter"/> Slirpi Counters
                        label.checkbox-inline
                          <input type="radio" id="#{index}_#{sp_pm4}_all_bat" name="#{index}_#{sp_pm4}_batch_select" value="all_counter"/> All Counters
                        label.checkbox-inline
                          <input type="radio" id="#{index}_#{sp_pm4}_test" name="#{index}_#{sp_pm4}_batch_select" value="exp_counter"/> Experiment
      else
        div(id = index + '_pm4').tab-pane.fade
          table.table.table-hover
            tbody
              each pm4_item in item
                tr
                  td
                    div.row
                      div.col-md-8
                        -var sp_pm4 = (pm4_item.pm4_list.split(".pm4")[0]).replace(new RegExp("\\.+", "g"),"_")
                        <input id="#{index}_#{sp_pm4}" type="checkbox" name="#{index}" value="#{sp_pm4}" onChange="selectbox_change(this.id)"/> #{sp_pm4}
                      div.col-md-4(id="#{index}_#{sp_pm4}_batch" style="display:none")
                        label.checkbox-inline
                          <input type="radio" id="#{index}_#{sp_pm4}_slirpi_bat" name="#{index}_#{sp_pm4}_batch_select" value="slirpi_counter"/> Slirpi Counters
                        label.checkbox-inline
                          <input type="radio" id="#{index}_#{sp_pm4}_all_bat" name="#{index}_#{sp_pm4}_batch_select" value="all_counter"/> All Counters
                        label.checkbox-inline
                          <input type="radio" id="#{index}_#{sp_pm4}_test" name="#{index}_#{sp_pm4}_batch_select" value="exp_counter"/> Experiment